{% extends 'dishes/layout.html' %}
{% load i18n %}

{% block title %}{% translate "DISH DESCRIPTION" %}{% endblock %}

{% block content %}
{% translate "ingredient" as ingredient %}
{% translate "amount" as amount %}
{% translate "CREATE ORDER" as create %}

  <h3>{{ dish.title }}</h3>
  <div class="mb-1 text-muted">{{ dish.created_at }}</div>
  <hr> 

  {% if dish.description %}
    <p>{{ dish.description }}</p>
    <hr>
  {% endif %}

  {% for item in dish.dishingredients.all %}
    <p>
      <strong>{{ ingredient }}:</strong> {{ item.ingredient.title }},
      <strong>{{ amount }}:</strong> {{ item.amount }}
    </p>
  {% endfor %}
  <hr>

  <a
    href="{% url 'dishes:order' dish.id %}"
    class="btn btn-primary">{{ create }}</button></a>

{% endblock %}
