{% extends 'dishes/layout.html' %}

{% block title %}DISH INGREDIENTS{% endblock %}

{% block content %}

  <h3>{{dish.title}}</h3>
  <div class="mb-1 text-muted">{{ dish.created_at }}</div>
  <hr> 

  {% if dish.description %}
    <p>{{ dish.description }}</p>
    <hr>
  {% endif %}

  {% for item in dish.di.all %}
    <p>
      <strong>ingredient:</strong> {{ item.ingredient.title }},
      <strong>amount:</strong> {{ item.amount }}
    </p>
  {% endfor %}
  <hr>

  <a
    href="{% url 'dishes:creation' dish.id %}"
    class="btn btn-primary">CREATE ORDER</button></a>

{% endblock %}
