{% extends 'dishes/layout.html' %}

{% block title %}DISH INGREDIENTS{% endblock %}

{% block content %}

  <h3>{{dish.title}}</h3>
  <hr>

  {% if dish.description %}
    <h3>{{dish.title}}</h3>
    <hr>
  {% endif %}

  {% for item in dish.di.all %}
    <p>
      <strong>ingredient:</strong> {{item.ingredient.title}},
      <strong>amount:</strong> {{item.amount}}
    </p>
  {% endfor %}
  <hr>

  <a
    href="{% url 'dishes:creation' dish.id %}"
    class="btn btn-primary">CREATE ORDER</button></a>

{% endblock %}
