{% extends 'dishes/layout.html' %}
{% load cache %}
{% load i18n %}

{% block title %}{% translate "LOGIN" %}{% endblock %}

{% block content %}
{% translate "Login page" as lp %}
{% translate "Registration" as registration %}
{% translate "LogIn" as login %}

  <h1>{{ lp }}</h1><br>

  {% for message in messages %}
    <p class="text-danger"><strong>{{ message }}</strong></p>
  {% endfor %}

  {% cache 60 form %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-12">
        <br>
        <button class="btn btn-primary" type="submit">{{ login }}</button>
        <a href="{% url 'dishes:register' %}">{{ registration }}</a>
      </div>
    </form>
  {% endcache %}

{% endblock %}
