{% extends 'dishes/layout.html' %}

{% block title %}ORDERS{% endblock %}

{% block content %}

  {% if not orders %}
    <h1>There are no orders...</h1>
  {% endif %}

  {% for order in orders %}
    <p><strong>ORDER_ID: </strong>{{order.id}}</p>
    <p><strong>Dish: </strong>{{order.dish.title}}</p>
    {% for item in order.oi.all %}
    <p>
      <strong>ingredient:</strong> {{item.ingredient.title}},
      <strong>amount:</strong> {{item.amount}}
    </p>
    {% endfor %}
    <hr>
  {% endfor %}

{% endblock %}
