{% extends 'dishes/layout.html' %}
{% load i18n %}

{% block title %}{% translate "ORDERS" %}{% endblock %}

{% block content %}
{% translate "ORDER_ID" as orderid %}
{% translate "Dish" as dish %}
{% translate "ingredient" as ingredient %}
{% translate "amount" as amount %}
{% translate "There are no orders..." as noorders %}

  {% if not orders %}
    <h1>{{ noorders }}</h1>
  {% endif %}

  {% for order in orders %}
    <p><strong>{{ orderid }}: </strong>{{ order.id }}</p>
    <p><strong>{{ dish }}: </strong>{{ order.dish.title }}</p>
    {% for item in order.orderingredients.all %}
    <p>
      <strong>{{ ingredient }}:</strong> {{ item.ingredient.title }},
      <strong>{{ amount }}:</strong> {{ item.amount }}
    </p>
    {% endfor %}
    <div class="mb-1 text-muted">{{ user }}|{{ order.created_at }}</div>
    <hr>
  {% endfor %}

{% endblock %}
